<meta charset="utf-8" />
<body>
    <button type="button" class="btn btn-link font1">
        <span class="glyphicon glyphicon-home"></span> Home
    </button>

   

  <p>?מה אתה אוהב</p>
  <div class="container">  <!-- -->
    <div class="row">
        <button type="button" class="btn1 btn btn-primary col-lg-2">מתמטיקה</button>
        <div class="col-lg-2"></div>
        <div class="col-lg-2"></div>
        <button type="button" class="btn4 btn btn-primary col-lg-1">מכונאות</button>
        <div class="col-lg-2"></div>
        <div class="col-lg-2"></div>
        <button type="button" class="btn7 btn btn-primary ">ספורט וכושר</button>
        <div class="col-lg-2"></div>
        <div class="col-lg-2"></div>     
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-2"></div>
        <button type="button" class="btn2 btn btn-primary col-lg-2">עברית</button>
        <div class="col-lg-2"></div>
        <div class="col-lg-2"></div>
        <button type="button" class="btn5 btn btn-primary ">אומנות וציור</button>
    </div>

    <div class="row">
        <div class="col-lg-2"></div>
        <button type="button" class="btn3 btn btn-primary col-lg-2">מחשבים</button>
        <div class="col-lg-2"></div>
        <div class="col-lg-2"></div>
        <button type="button" class="btn6 btn btn-primary ">עיצוב שיער</button>
        <span class="glyphicons glyphicons-home"></span>
      
      </div>


  

  </div>

  <p><button (click)="GoToStudenSentence()" type="button" class="btn btn-link font1"> הבא</button></p>

</body>