<meta charset="utf-8" />
<body>

   <p>  <button type="button" class="btn btn-link font">
    <span class="glyphicon glyphicon-home"></span> Home
    </button></p>

<div class="container">

    <div class="form-group">
        <h1>:בחר/י משפט שהכי מאפיין אותך</h1>
        <p></p>
      <h2><label for="sel1">...אני לומד/ת הכי טוב כש</label></h2>  
        <select class="form-control" id="sel1">
          <option>כשאני מתרגל/ת לבד</option>
          <option>המורה מסבירה וכותבת על הלוח</option>
          <option>כשהמורה מסבירה לי בקבוצה קטנה</option>
          <option>כשאני לומד לבד</option>
          <option>אני לומד עם חבר</option>
          <option>אני עובד על המחשב</option>
        </select>
      </div>

</div>

<p><button (click)="GoToQuestionnaire()" type="button" class="btn btn-link font"> הבא</button></p>
</body>


