<meta charses="utf-8" />
<body>
  

    <nav class="navbar navbar-inverse parentnav">
        <div class="container-fluid">

          <ul class="nav navbar-nav">
            <li><a class="navbar-brand" href="#" type="button" class="btn btn-link">
                <span class="glyphicon glyphicon-home"></span> Home</a></li>

            <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">ניהול משתמשים<span class="caret"></span></a>  
              <ul class="dropdown-menu">
                <li><a routerLink="/admin">הוספה</a></li>
                <li><a routerLink="/UsersManage">הקפאה/מחיקה</a></li>
                <li><a routerLink="/usersDisplay">רשימת משתמשים</a></li>
              </ul>
            </li>



            <li>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">ניהול אישורים<span class="caret"></span></a>  
                <ul class="dropdown-menu">
                  <li><a href="#">הוספה</a></li>
                  <li><a href="#">מחיקה</a></li>
                  <li><a href="#">צפייה</a></li>
                </ul>
            </li>

            
            

            <li>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"> מערכת הודעות<span class="caret"></span></a>  
                <ul class="dropdown-menu">
                  <li><a routerLink="/pubMessages">הודעות כלליות</a></li>
                  <li><a routerLink="/prMessages">הודעות פרטיות</a></li>

                </ul>
            </li>

            <li><a routerLink="/studentsData">נתוני תלמידים</a></li>
            <li><a routerLink="/gallery">גלרייה</a></li>

            
          </ul>
        </div>
      </nav>


      <div class="logopart">
          <img class=logoimg src="assets/ppp/logo1.png"/>
        </div>
</body>