<meta charses="utf-8" />
<body>

  
  <div class="userspart">
      <button (click)="log()" type="button" class="btn btn-default usersbtn">תלמיד</button>
      <button (click)="log()" type="button" class="btn btn-default usersbtn">מורה</button>
      <button (click)="log()" type="button" class="btn btn-default usersbtn">הורה</button>
      <button (click)="log()" type="button" class="btn btn-default usersbtn">מנהל מערכת</button>
  </div>
  <div class="logopart">
      <img class=logoimg src="assets\ppp\logo1.png"/>
    </div>
</body>