
<meta charses="utf-8" />
<body>

    <nav class="navbar navbar-inverse teachernav">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
              <li><a class="navbar-brand" href="#" type="button" class="btn btn-link">
                  <span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a href="#">העלאת קבצים</a></li>
            <li><a href="#">הודעות כלליות</a></li>
            <li><a href="#">הודעות פרטיות</a></li>
            <li><a href="#">צפיה באישורים חתומים</a></li>
            <li><a href="#">תחנות בדרך</a></li>
          </ul>
        </div>
      </nav>


      <div class="logopart">
          <img class=logoimg src="assets/ppp/logo1.png"/>
        </div>
</body>