<meta charses="utf-8" />
<body>
    <nav class="navbar navbar-inverse displaytnav">
        <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a routerLink="/adminHome" class="navbar-brand" href="#" type="button" class="btn btn-link">
                        <span class="glyphicon glyphicon-home"></span> Admin Home</a></li>
                </ul>
        </div>
    </nav>
  <div class="opbtnpart">
    <button (click)="log()" type="button" class="btn btn-default opbtn">הוסף תמונה</button>
    <button (click)="log()" type="button" class="btn btn-default opbtn">מחק</button>
  </div>
  <div class="logopart">
      <img class=logoimg src='assets/ppp/logo1.png'/>
    </div>
</body>

