<meta charset="utf-8" />
<body>
<p><button type="button" class="btn btn-link font">
    <span class="glyphicon glyphicon-home"></span> Home
  </button></p>


  <div class="container">
    <div class="row">
        <button (click)="GoToAmI()" type="button" class="btn1 btn btn-primary">מי אני</button>
        <button type="button" class="btn2 btn btn-primary">בניית תוכנית אישית</button>
        <button type="button" class="btn3 btn btn-primary">ערכה ומדידה</button>
        <button type="button" class="btn4 btn btn-primary">תחנות חשובות</button>
        <button type="button" class="btn5 btn btn-primary ">סיפור חיי הסמסטר</button>
        
    </div>

  </div>
</body>




