<meta charset="utf-8" />
<body>

    <nav class="navbar navbar-inverse parentnav">
        <div class="container-fluid">
      
          <ul class="nav navbar-nav">
            <li><a class="navbar-brand" routerLink="/studentHomePage" type="button" class="btn btn-link">
                <span class="glyphicon glyphicon-home"></span> Home</a></li>
      
            <li><a (click)="logout()"routerLink >יציאה </a></li> 
          </ul>
        </div>
      </nav>


  <div class="container">
    <div class="row">
        <button (click)="GoToAmI()" type="button" class="btn1 btn btn-primary">מי אני</button>
        <button (click)="GoToSchedule()" class="btn2 btn btn-primary"> תוכנית אישית</button>
        <button type="button" class="btn3 btn btn-primary">ערכה ומדידה</button>
        <button type="button" class="btn4 btn btn-primary">תחנות חשובות</button>
        <button type="button" class="btn5 btn btn-primary ">סיפור חיי הסמסטר</button>
        
    </div>
    

  </div>
</body>






